
.icon-align-justify:before { content: '\e800'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-user-md:before { content: '\f0f0'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
